body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;    
    background-color: azure;
}

h1 {
    color: blue;
    text-align: center;
}
p {
    color: rgb(0, 0, 0);
    text-align: center; 
}

#info {
    color: rgb(8, 240, 0);
    text-align: center; 
}

.titulo {
    color: rgb(255, 1, 1);
    text-align: center; 
}