.conteudo {
    align-items: center;
}
p {
    border: solid rgb(194, 173, 128);
    float: left;
    padding: 2%;
    margin-left: 6% ;
    align-items: center;
}
.img {
    width: 800px;
    margin-left: 5%;
}
body {
    background-color: rgb(188, 196, 77);
}
.all {
    margin-left: 15%;
}
